<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerre des clans</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="css/play/main.css" rel="stylesheet">
    <link href="css/play/header.css" rel="stylesheet">
    <link href="css/play/answer.css" rel="stylesheet">
</head>
<body>
    <div class="page-wrapper">
        <header>
            <div class="team-card <%=game.getActiveTeam() == 0 ? "active" : ""%>">
                <span class="team-card__name"><%=game.getTeamName(0)%></span>
                <span class="team-card__score"><%=game.getTeamScore(0)%></span>
            </div>
            <div class="question-title-container"><span id="question-title"><%=game.getCurrentQuestion().name%></span></div>
            <div class="team-card <%=game.getActiveTeam() == 1 ? "active" : ""%>">
                <span class="team-card__name"><%=game.getTeamName(1)%></span>
                <span class="team-card__score"><%=game.getTeamScore(1)%></span>
            </div>
        </header>

        <main>
            <div class="answers-container">
                <ul class="answers-list">
                    <%for (let i = 0; i<game.getCurrentQuestion().answers.length; i++ ) {%>
                        <li class="answer-card <%=game.getCurrentQuestion().answers[i].revealed ? "revealed" : ""%>">
                            <span class="answer-card__answer"><%=game.getCurrentQuestion().answers[i].name%></span>
                            <span class="answer-card__value"><%=game.getCurrentQuestion().answers[i].value%></span>
                        </li>
                    <%}%>
                    <%for (let i = 0; i<8-game.getCurrentQuestion().answers.length; i++ ) {%>
                        <li class="answer-card locked">
                            <span class="answer-card__answer">None</span>
                            <span class="answer-card__value">0</span>
                        </li>
                    <%}%>
                </ul>
            </div>
        </main>
    </div>
    <script src="js/play/app.js" type="text/javascript"></script>
</body>
</html>