<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerre des clans</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="css/play/main.css" rel="stylesheet">
    <link href="css/play/header.css" rel="stylesheet">
    <link href="css/play/answer.css" rel="stylesheet">
</head>
<body>
    <div class="page-wrapper">
        <header>
            <div class="team-card active">
                <span class="team-card__name"><%=game.teams[0].name%></span>
                <span class="team-card__score"><%=game.teams[0].score%></span>
            </div>
            <div class="question-title-container"><h1 class="question-title"><%=game.question.name%></h1></div>
            <div class="team-card">
                <span class="team-card__name"><%=game.teams[1].name%></span>
                <span class="team-card__score"><%=game.teams[0].score%></span>
            </div>
        </header>

        <main>
            <div class="answers-container">
                <ul class="answers-list">
                    <%for (let i = 0; i<game.question.answers.length; i++ ) {%>
                        <li class="answer-card revealed">
                            <span class="answer-card__answer"><%=game.question.answers[i].name%></span>
                            <span class="answer-card__value"><%=game.question.answers[i].value%></span>
                        </li>
                    <%}%>
                    <%for (let i = 0; i<8-game.question.answers.length; i++ ) {%>
                        <li class="answer-card">
                            <span class="answer-card__answer">None</span>
                            <span class="answer-card__value">0</span>
                        </li>
                    <%}%>
                </ul>
            </div>
            
        </main>
    </div>
</body>
</html>